<div class="container">
  <div class="error" *ngIf="error !='' ">
    {{error}}
  </div>

  <div class="row  mt-5">
    <div class="col-9 p-0 d-flex justify-content-center text-end" ><div class="pantalla">{{pantalla}}</div></div>
    <div class="col-3 p-0 d-flex justify-content-center"><button class="btn resetbtn" (click)="Reset_calc()">C</button></div>
  </div>

  <div class="row" *ngFor="let pp of index">
    <div class="col-3 p-0 d-flex justify-content-center" *ngFor="let gg of index">
      <button
      [ngClass]="{'normalbtn btn btn-square-md':true,'oper':['+', '-', '*','/'].includes(botones[pp*4 + gg])}"
      (click)="Boton(botones[pp*4 + gg]);" >
      {{botones[pp*4 + gg]}}
      </button>
    </div>
  </div>
</div>